{% extends 'base.html' %}

{% load static %}

{% block content %}

    <h2>User information List</h2>
    <table border="2">

              <tr>

                <th>
                    User Id
                </th>
                <th>
                    User Name
                </th>
                <th>
                    User Gender
                </th>
                <th>
                    User Profile Picture
                </th>
                <th>
                    Link
                </th>

              </tr>


      {% for u in User %}
              <tr>
                <td>
                    {{ u.id }}
                </td>
                <td>
                    {{ u.User_name }}
                </td>
                <td>
                    {{ u.Gender}}
                </td>
                <td>
                    <img src="{{ u.User_profile.url }}" width="200" height="200" alt="image">
                </td>
                <td>
                    <a href="{{ u.constitution.url }}">View Constitution</a> <br>
                </td>
              </tr>


      {% endfor %}
    </table>

{% endblock content %}