{% extends 'base.html' %}

{% load static %}
{% block content %}


<h2>User information List</h2>
    <table border="2">

              <tr>

                <th>
                    User Id
                </th>
                <th>
                    User Full Name
                </th>
                <th>
                    User E-mail
                </th>
                <th>
                    User Gender
                </th>
                <th>
                    User Profile Picture
                </th>
                <th>
                    Link
                </th>

              </tr>

        {% for p in Profile %}
              <tr>
                <td>
                    {{ p.id }}
                </td>
                <td>
                    {{ p.User_Full_name }}
                </td>
                <td>
                    {{ p.User_email}}
                </td>
                <td>
                    {{ p.Gender }}
                </td>
                <td>
                    <img src="{{ p.User_profile_picture.url }}" width="200" height="200" alt="image">
                </td>
                <td>
                    <a href="{{ p.constitution.url }}">View Constitution</a> <br>
                </td>
              </tr>


         {% endfor %}

    </table>



{% endblock content %}